@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, hr, html, main, body, p, ol, ul, li {
	margin: 0;
	padding: 0;
}
html {
	background: #EEEEEF;
}
hr {
	background: #A8A8A8;
}
button {
	border: none;
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
}
ul, li {
	list-style: none;
}
a {
	color: #212121;
	text-decoration: none;
}
.container {
	width: 1296px;
	margin: 0 auto;
}
.header {
	background-color: #10BBD5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	&__logo {
		display: flex;
		width: 1296px;
		align-items: center;
		justify-content: space-between;
		padding: 16px 0px;
		&-link {
			display: flex;
			align-items: center;
			color: #F8FDFE;
			font-family: Cabin;
			font-size: 24px;
			font-style: normal;
			font-weight: 700;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__nav-list {
		font-family: Cabin;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
	&__quantity {
		position: relative;
		width: 40px;
		height: 40px;
		&-text {
			position: absolute;
			font-size: 12px;
			top: 10px;
			right: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
			font-family: Cabin;
			font-style: normal;
			font-weight: 400;
			line-height: 10px;
		}
	}
	&__nav {
		background-color: #FFF;
		&-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 4px 0px;
			background-color: #FFF;
		}
	}
}
.nav__list-color {
	color: #F8FDFE;
	margin-right: 8px;
	font-family: Cabin;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.nav__registration-color {
	color: #000;
	display: flex;
	gap: 40px;
}
.block__title {
	padding: 32px 0px 23px 0px;
	border-bottom: 1px solid #A8A8A8;
	margin-top: 100px;
	&-text {
		color: #1F1F1F;
		font-family: Cabin;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}
}
.main {
	display: flex;
	margin-top: 24px;
	&__card {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 32px;
		&--discount {
			position: absolute;
			color: #F8FDFE;
			text-align: center;
			font-family: Cabin;
			font-size: 16px;
			font-weight: 400;
			padding: 4px 8px;
			border-radius: 4px;
			width: fit-content;
		}
		&-img {
			margin: 0px 32px 0 32px;
		}
		&-item {
			text-overflow: ellipsis;
			white-space: nowrap;
			font-family: Cabin;
			font-style: normal;
		}
		&-button {
			color: #F8FDFE;
			font-family: Cabin;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			padding: 8px 74.5px;
			border-radius: 4px;
			margin-top: 16px;
			transition: 0.3s ease;
		}
	}
	&__product-card {
		display: grid;
		row-gap: 16px;
		padding: 32px;
		border: 1px solid #000;
	}
}
.hit {
	background-color: #4200FF;
}
.new {
	background-color: #AF39E7;
}
.interest {
	background-color: #EA33C0;
	margin-left: 40px;
}
.discount-interest-off {
	margin-left: 0px;
}
.discount-interest-new {
	margin-left: 51px;
}
.subtitle {
	width: 240px;
	color: #1F1F1F;
	font-size: 20px;
	font-weight: 700;
	overflow: hidden;
}
.subtext {
	color: #8E8E8E;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 400;
}
.price {
	display: inline-block;
	color: #E90000;
	font-size: 24px;
	font-weight: 500;
	&-old {
		display: inline-block;
		margin-left: 24px;
		color: #8E8E8E;
		font-size: 24px;
		font-weight: 500;
		text-decoration: line-through;
	}
}
.button--basket {
	background-color: #4C394E;
	&:hover {
		transition: 0.3s ease;
		background-color: #744978;
	}
}
.button--end-up {
	background-color: #4D762D;
	&:hover {
		background-color: #6DB236;
		transition: 0.3s ease;
	}
}
.footer {
	margin-top: 120px;
	background-color: #4C394E;
	&__block {
		display: flex;
		justify-content: space-between;
		padding: 32px 0px;
	}
	&__text {
		color: #F8FDFE;
		font-family: Cabin;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
}
.block__connection {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 2;
	&-item {
		width: 64px;
		height: 64px;
		position: relative;
	}
	&-ellipse {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-icon {
		position: absolute;
		top: 9px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			transform: rotate(12.05deg);
			right: 2px;
		}
	}
}
